@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in urna aliquet, imperdiet urna in, malesuada sem. Donec libero sem, fringilla in nunc sed, aliquet vehicula turpis. Vestibulum convallis viverra felis id tempor. Aliquam eu commodo ante, a mattis justo. Proin dictum iaculis lorem et porta. Quisque ut sodales diam. Suspendisse scelerisque odio sed ipsum egestas interdum. Donec id tincidunt eros, a rhoncus felis. Fusce orci lectus, luctus id bibendum quis, auctor nec diam.

    Nam gravida sem faucibus justo iaculis accumsan. Aenean volutpat ligula ut interdum tristique. Cras vulputate orci a mattis tempor. Vestibulum bibendum eu quam ut iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sagittis nibh at pulvinar efficitur. Nunc blandit sem vel arcu tincidunt tincidunt. Mauris ultricies nec sapien sed blandit.

    Aenean sed convallis justo. Aliquam eget justo rutrum, sodales elit a, imperdiet orci. Maecenas laoreet ex at cursus rutrum. Vestibulum sed risus a velit luctus pulvinar id vel diam. Nulla id libero non tellus tincidunt dictum. Suspendisse ac facilisis massa, sit amet tincidunt ex. Mauris facilisis varius nulla, nec viverra erat rhoncus a. Nunc vestibulum velit quam, non viverra nisi mollis sed. Ut ut libero sapien. Etiam et tortor ut purus efficitur volutpat et a lorem. Cras commodo felis in pretium scelerisque. Sed egestas a leo sed ultricies.

    Curabitur quam odio, euismod id sem eu, luctus imperdiet felis. Mauris scelerisque, augue in dapibus faucibus, est libero vestibulum nisi, nec lacinia nulla leo id nulla. Duis pretium rhoncus turpis, et feugiat libero finibus id. Phasellus non tellus dui. Nullam eu vestibulum ex. Aliquam consectetur vel ipsum et vestibulum. Suspendisse quis metus aliquet, pharetra orci sed, pharetra odio. Curabitur posuere neque eget mauris blandit lacinia ac at lectus. Nunc neque quam, tempus sit amet massa vitae, tincidunt dictum dui. Aliquam in cursus est, et laoreet magna. Praesent pulvinar convallis convallis. Praesent vestibulum mi quis varius pellentesque. Etiam id lacus metus. Mauris turpis quam, ornare nec justo at, scelerisque iaculis tortor. Integer ac condimentum turpis, sed viverra tellus. Nulla facilisi.
</p>
